:root{
    --primary: 	hsla(70, 58%, 14%,0.65);
    --secondary: hsla(60, 19%, 91%,0.65);
}

.container{
    display: flex;
}

.left{
    height: 100vh;
    width: 50vw;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .left_child{
    height: 50vh;
    width: 25vw;
    background-color: red;
} */
.right{
    position: relative;
    height: 100vh;
    width: 50vw;
     background: linear-gradient(135deg, var(--primary), var(--secondary)), 
                url("Images/base.jpg") no-repeat center center / 100% 100%;
    overflow: hidden;
}